<div class="qv-product-modal" qv-product-modal style="display: none;">
    <div class="qv-modal-wrapper">
        <div class="qv-modal-close">
            {%  render 'icon-close' %}
        </div>
        <div modal-content></div>
    </div>
</div>